@model CrazyCarRental.Models.Car

<div class="car-card">
    <div class="car-detail">
        <h3>@Model.Make  @Model.Model</h3>
        <p><strong>Price per day:</strong> $@Model.PricePerDay</p>
        <p><strong>Availibility:</strong> @(Model.IsAvailable ?"Available" : "NotAvailable")</p>
        <a href="@Url.Action("Details","Car", new {id = Model.CarId})" class="btn-view-details">View Details</a>        
        <a asp-controller="Car" asp-action="Edit" asp-route-id="@Model.CarId" class="btn-edit-car">Edit</a>

    </div>
    <img src="~/images/cars/@(string.IsNullOrEmpty(Model.ImageUrl) ? "carImagePlaceholder.jpg": Model.ImageUrl)" alt="@Model.Make @Model.Model" class="car-image" />
</div>
       
<style>
    .car-card{
        display: flex;
        justify-content: space-between;
        border:1px solid #ddd;
        padding: 15px;
        margin: 10px 0;
        background-color: #f9f9f9;
        border-radius: 5px;
        align-items: center;

    }

    .car-detail{
        flex: 1;
        margin-right: 15px;

    }

    .car-image {
        width: 150px;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .btn-view-details{
        display: inline-block;
        margin-top: 10px;
        padding: 8px 15px;
        background-color: #007bff;
        color: white;
    }

    .btn-edit-car {
        display: inline-block;
        margin-top: 10px;
        padding: 8px 15px;
        background-color: green;
        color: white;
    }
</style>
        
    